@using TestWeb
@{ Layout = "layout.cshtml"; }

<form action="/auth/login" method="post">
    <label for="name">Login:</label><input name="login" type="text">
    <label for="name">Password:</label><input name="password" type="password">
    <button type="submit">Enter</button>
</form>