<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    @switch ((int)Model.Value)
    {
        case 1:
            @:One
            break;
        case 2:
            @:Two
            break;
        default:
            @:More
            break;
    }
</body>
</html>